extends ../layout


block layout-content
	div#creationContainer
		div.navigator#navigatorTop
			include navigator.pug
		div.stepsContainer
			div#step1Topic.Steps
				include Step1Topic.pug
			div#step2Alternatives.Steps
				include Step2Alternatives.pug
			div#step3Criterias.Steps
				include Step3Criterias.pug
			div#step4Overview.Steps
				include Step4Overview.pug	
			div#step5Share.Steps
				include Step5Share.pug
			
			button.navButton#navBack(onclick='back()') back
			button.navButton#navNext(onclick='next()') next
	
	script(src="scripts/criteria.js")
	script(src="scripts/dataProcessing.js")
	script(src="scripts/identifier.js")
	script(src="scripts/main.js")
	script(src="scripts/navigation.js")
	script(src="scripts/overview.js")
	script(src="scripts/poll.js")
	script(src="scripts/viewManipulation.js")
	script(src="scripts/loadingColors.js")
	script(src="scripts/inputManipulation.js")

