extends ../layout


block layout-content
	div#erstellenContainer
		div.navigator#navigatorTop
			include navigator.pug
		div.SchritteContainer
			div#Schritt1Thema.Schritte
				include Schritt1Thema.pug
			div#Schritt2Alternativen.Schritte
				include Schritt2Alternativen.pug
			div#Schritt3Kriterien.Schritte
				include Schritt3Kriterien.pug
			div#Schritt4Ubersicht.Schritte
				include Schritt4Ubersicht.pug	
			div#Schritt5Teilen.Schritte
				include Schritt5Teilen.pug
			
			button.navButton#navBack(onclick='back()') back
			button.navButton#navNext(onclick='next()') next
	
	script(src='scripts/uiErstellen.js')

