block navigator
    div#navTopic.navElement(onClick="clickToChangeView(0)").nevErstellen 
        div.navDivCenter
            img(src="icons/Stift.svg").pencil
            span.navSpanNoDropDUMMY Thema
    div#navAlternatives.navElement(onClick="clickToChangeView(1)").nevErstellen 
        div.navDivCenter 
            img(src="icons/Stift.svg").pencil
            span.navSpanNoDrop Alternativen
    div#navCriterias.navElement(onClick="clickToChangeView(2)").nevErstellen 
        div.navDivCenter
            img(src="icons/Stift.svg").pencil
            span.navSpanNoDrop Kriterien
    div#navOverview.navElement(onClick="clickToChangeView(3)").nevErstellen 
        div.navDivCenter
            div.navSpanNoDropDUMMY
                span.navSpanNoDrop(style="float:left position:relative") Übersicht
    div#navShare.navElement.nevErstellen 
        div.navDivCenter
            span.navSpanNoDrop Teilen

