block navigator
	div#navTopic.navElement Thema
	div#navAlternatives.navElement Alternativen
	div#navCriterias.navElement Kriterien
	div#navOverview.navElement Übersicht
	div#navShare.navElement Teilen

