block navigator
	div#navTopic.navElement(onClick="clickToChangeView(0)").nevErstellen Thema
		img(src="pencil.png").pencil
	div#navAlternatives.navElement(onClick="clickToChangeView(1)").nevErstellen Alternativen
		img(src="pencil.png").pencil
	div#navCriterias.navElement(onClick="clickToChangeView(2)").nevErstellen Kriterien
		img(src="pencil.png").pencil
	div#navOverview.navElement(onClick="clickToChangeView(3)").nevErstellen Übersicht
	div#navShare.navElement.nevErstellen Teilen

