block layout-content 
	h1 Kriterien eintragen 3
	div#KriterienContainer
		div.Kriterium
			h3 Kriterium 1 
				input.KriteriumInputs
		div.Kriterium
			h3 Kriterium 2 
				input.KriteriumInputs
		div#KriterienButtons.plusMinusButtons
			button#addKriteriumButton(onclick='addInput("Krit")') +
			button#removeKriteriumButton(onclick='removeInput("Krit")') -

