block layout-content 
	div.Message
		div.Title
			h1 Übersicht 4
			div#Uebersicht
				br
				span Name: 
				span#NameSpan
				br
				br
				span Beschreibung: 
				span#BeschreibungSpan
				br
				div#UebersichtTables
					table#AlternativenTable
						tr 
							th Alternativen
					table#KriterienTable
						tr 
							th Kriterien
			
