block layout-content 
	h1 Alternativen
	div.inputAndBtnDiv
		div#alternativesContainer.inputContainer
		div#alternativeButtons.plusButtonsDiv
			button#addAlternativeButton.plusButtons.plusMinusButtons(onclick='addInput("Alt")')