block layout-content 
	div.Message
		div.Title
			h1 Übersicht
			div#overview
				br
				span Name: 
				span#nameSpan
				br
				br
				span Beschreibung: 
				span#descriptionSpan
				br
				div#overviewTables
					table#combinedTable
	div.hint#overviewHint
		h4 Infotext
		span 
			span.HintFirstLine Sie können oben in der Navigation zu anderen Schritten springen
		button.hideHint(onClick="hideHint('overviewHint')") 	
			
