block layout-content 
	div.Message
		div.Title
			h1 Umfrage erstellen
			h2.NameInputH3 Name :
				input(autofocus)#NameInput
			h3.DescriptionInputH3 Beschreibung
			textarea(rows=8,cols=42)#DescriptionInput
	div.hint#startHint
		h4 Infotext
		span 
			span.HintFirstLine Bitte geben Sie einen Namen für die Umfrage ein
		img.hideHint(onClick="hideHint('startHint')" src='icons/kreuz.svg') 	
			
