block layout-content 
	div.Message
		div.Title
			h1 Umfrage erstellen
			h3.NameInputH3 Name :
				input#NameInput
			h3.DescriptionInputH3 Beschreibung
			textarea(rows=6,cols=30)#DescriptionInput
			
