block layout-content 
	h1 Alternativen eintragen 2
	div#alternativesContainer.inputContainer
	div#alternativeButtons.plusButtonsDiv
		button#addAlternativeButton.plusButtons.plusMinusButtons(onclick='addInput("Alt")')