block layout-content 
	h1 Kriterien
	span Kriterien sind die Entscheidungsfaktoren für Alternativen
	div.inputAndBtnDiv
		div#criteriasContainer.inputContainer
		div#criteriasButtons.plusButtonsDiv
			button#addCriteriaButton.plusButtons.plusMinusButtons(onclick='addInput("Crit")')
	div.hint#critHint
		h4 Infotext
		span 
			span.HintFirstLine Bitte füllen Sie alle Felder aus
		button.hideHint(onClick="hideHint('critHint')") 