block layout-content 
    div.w3-row.hundredHeight
        div.w3-col.l10.s10
            div.innerPadding
                h1 Kriterien
                div Kriterien sind die Faktoren anhand derer die beste Alternative ermittelt werden soll.
                div.inputAndBtnDiv
                    table#criteriasContainer.inputContainer
                        tr#lastCritRow
                            td
                            td
                            td
                                div#criteriasButtons.plusButtonsDiv
                                    img#addCriteriaButton.noselect.plusButtons.plusMinusButtons(onclick='addInput("Crit")' src='icons/Plus.svg')
        div.w3-col.l2.s2.hundredHeight
            div.hint#critHint
                h4 Info
                span 
                    span.HintFirstLine Bitte füllen Sie alle Felder aus.
                img.hideHint(onClick="hideHint('critHint')" src='icons/Kreuz.svg') 