block layout-content 
	div.Message
		div.Title
			h1 Übersicht
			div#overview
				br
				h3 Name: 
				span#nameSpan
				br
				
				h3 Beschreibung: 
				span#descriptionSpan
				br
				div#overviewTables
					table#combinedTable
				br
				span#OverviewDesc Bevor Sie die Umfrage festlegen und mit anderen Leuten teilen kontrollieren Sie nochmal die Eingaben
	div.hint#overviewHint
		h4 Infotext
		span 
			span.HintFirstLine Sie können oben in der Navigation zu anderen Schritten springen
		button.hideHint(onClick="hideHint('overviewHint')") 	
			
