block layout-content 
	h1 Kriterien eintragen 3
	div#criteriasContainer.inputContainer
	div#criteriasButtons.plusButtonsDiv
		button#addCriteriaButton.plusButtons.plusMinusButtons(onclick='addInput("Crit")')