block layout-content 
    div.innerPadding
        h1 Teilen
        div.LinkContainer
            h4 Schicke anderen Leuten diesen Link, um sie zu dieser Umfrage einzuladen
            div#participateLink
            table.linkTable
                tr(style="white-space: nowrap")
                    td 
                        h2 Teilnehmen Link: 	
                    td(style="width:70%")
                        input#InputTeilnehmen.linkInput(readonly value="example.org")
                    td.tooltip#hotFixToolTip
                        img.copyButton#copyButtonTeilnehmen(onclick="copyLink('InputTeilnehmen','copyTooltipTeilnehmen')" onmouseout="toolTipMouseOut('copyTooltipTeilnehmen')" src="icons/Kopie.svg") 
                        span.tooltiptext#copyTooltipTeilnehmen Link kopieren
                tr
                        td
                            a(href="undefined" target="_blank")#selberTeilnehmenLink Selber teilnehmen
                
            div#resultLink
            h4 Unter diesem Link sind die Ergebnisse der Umfrage zu sehen
            table.linkTable
                tr(style="white-space: nowrap")
                    td
                        h2 Ergebnisse Link: 
                    td(style="width:70%")
                        input#InputAuswerten.linkInput(readonly value="example.org/example")
                    td.tooltip
                        img.copyButton#copyButtonAuswerten(onclick="copyLink('InputAuswerten','copyTooltipAuswerten')" onmouseout="toolTipMouseOut('copyTooltipAuswerten')" src="icons/Kopie.svg")
                        span.tooltiptext#copyTooltipAuswerten Link kopieren
