block layout-content 
	h1 Kriterien
	div.inputAndBtnDiv
		div#criteriasContainer.inputContainer
		div#criteriasButtons.plusButtonsDiv
			button#addCriteriaButton.plusButtons.plusMinusButtons(onclick='addInput("Crit")')