block layout-content 
    div.w3-row
        div.w3-col.l1.s1.hundredHeight.w3-red 
            span.invisible --
        div.w3-col.l9.s9
            div
                h1 Umfrage erstellen
                h2.NameInputH3 Name :
                    input(autofocus)#NameInput
                h3.DescriptionInputH3 Beschreibung
                textarea(rows=8,cols=42)#DescriptionInput
        div.w3-col.l2.s2.w3-red.hundredHeight
            div.hint#startHint
                h4 Infotext
                span 
                    span.HintFirstLine Bitte geben Sie einen Namen für die Umfrage ein
                img.hideHint(onClick="hideHint('startHint')" src='icons/kreuz.svg') 	
            
