block layout-content 
    h1 Alternativen
    div Alternativen sind die Optionen die zur Auswahl stehen
    div.inputAndBtnDiv(style="overflow-x:auto")
        table#alternativesContainer.inputContainer
            tr#lastAltRow
                td 
                td 
                td
                    div#alternativeButtons.plusButtonsDiv
                        img#addAlternativeButton.plusButtons.plusMinusButtons(onclick='addInput("Alt")' src='icons/Plus.svg')
    div.hint#altHint
        h4 Infotext
        span 
            span.HintFirstLine Bitte füllen Sie alle Felder aus
        img.hideHint(onClick="hideHint('altHint')" src='icons/Kreuz.svg') 