block layout-content 
	h1 Kriterien
	div Kriterien sind die Entscheidungsfaktoren für Alternativen
	div.inputAndBtnDiv
		table#criteriasContainer.inputContainer
			tr#lastCritRow
				td
				td
				td
					div#criteriasButtons.plusButtonsDiv
						img#addCriteriaButton.plusButtons.plusMinusButtons(onclick='addInput("Crit")' src='icons/Plus.svg')
	div.hint#critHint
		h4 Infotext
		span 
			span.HintFirstLine Bitte füllen Sie alle Felder aus
		img.hideHint(onClick="hideHint('critHint')" src='icons/Kreuz.svg') 