block layout-content 
    div.w3-row.hundredHeight
        div.w3-col.l10.s10
            div.innerPadding
                h1 Umfrage erstellen
                h2.NameInputH3 Name:
                    input(autofocus)#NameInput
                h3.DescriptionInputH3 Beschreibung
                textarea(rows=8,cols=42)#DescriptionInput
        div.w3-col.l2.s2.hundredHeight
                div.hint#startHint
                    h4 Info
                    span 
                        span.HintFirstLine Bitte geben Sie einen Namen für die Umfrage ein
                    img.hideHint(onClick="hideHint('startHint')" src='icons/kreuz.svg') 	
            
