block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title Software Projekt
    link(href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet')
    link(rel="stylesheet" href="/w3.css")
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="/inputs.css")
    link(rel="stylesheet" href="/views.css")
    link(rel="stylesheet" href="/navigator.css")
    link(rel="stylesheet" href="/buttons.css")
    link(rel="stylesheet" href="/critOrder.css")
    link(rel="stylesheet" href="/rating.css")
    link(rel="stylesheet" href="/teilnehmenOverview.css")



    
  body
    div#root
      div.upperEmpty.zIndexBehind
      noscript <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      div.w3-row.viewContainerHeight
        div.w3-col.l1.s1.hundredHeight.zIndexBehind
        div.w3-col.l10.s10.hundredHeight
            block layout-content
        div.w3-col.l1.s1.hundredHeight.zIndexBehind
      div.lowerEmpty.zIndexBehind
