#critOrder {
    border-collapse: collapse;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}
.critSpan {
    position: relative;
    float: left;
    clear: both;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200%;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; user-select:none;
    -o-user-select:none;
}

.critSpan:hover, sortable-ghost {
    cursor: move;
    background-color: grey;
}
.critSpanNumber{
    padding-right:5px;
}

.verticalMove {
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

