.NameInputH3 {
    margin-top: 20px;
    font-size: 40px;
}

.NameInputH3 input {
    height: 40px;
    bottom: 5px;
    width: 300px;
}

.DescriptionInputH3 {
    margin-top: 20px;
}

.DescriptionInput {
    width: 400px;
}
.linkInput {
    max-width: 580px;
    width: 100%;
    bottom: 4px;
}
.LinkContainer {
    margin-top: 40px;
}

.LinkContainer h2 {
    margin-top: 10px;
}
.inputH3 {
    position: relative;
    float: left;
    padding:0px;
}

.inputDiv {
    clear: left;
}
.inputContainer {
    position: relative;
    clear: both;
    margin-top: 5px;
    padding-bottom:10px;
}
.typeTextTd {
    padding-top: 5px;
}

input {
    position: relative;
    margin-left: 15px;
    height: 25px;
    bottom: 0px;
    font-size: 20px;
}

.inputH3 input::placeholder {
    color: black;
    opacity: 0.2;
}

.inputContainer input {
    width: 300px;
    margin-left: 5px;
}