.navigator {
    position: relative;
    height: 47px;
    width: auto;
    font-size: 18px;
}

#navigatorTop {
    overflow: hidden;
}

.navElement {
    position: relative;
    padding: 10px;
    padding-top:13px;
    float: left;
    text-align: center;
    font-size:auto;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    color:black;
}

.navSpanNoDrop {
    cursor: no-drop;
}

.navTeilnehmen {
    width: 25%;
}

.nevErstellen {
    width: 20%;
}

.pencil {
    width: 20px;
    position: relative;
    float: right;
    bottom: 8px;
    right: 20px;
    visibility: hidden;
}
