/* public/style.css */

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;
  --greyed-input: #f3f3f3;

  --primary-font: #ffffff;
  --secondary-font: #2a3747;
  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,h2,h3,h4 {
  font-family: var(--header-font);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: var(--secondary-font);
}



h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

#creationContainer {
	position: absolute;
	top: 10%;
	left: 10%;
	width:80%;
	margin-left: auto ;
	margin-right: auto ;
}

.navigator {
	position: relative;
	height: 40px;
	width:auto;
    font-size:18px;
}

#navigatorTop{
	overflow:hidden;
}

.navElement {
	position: relative;
	width: 20%;
	padding: 10px;
	float: left;
	text-align:center;
	font-weight:bold;
}

input{
	position:relative;
	margin-left:15px;
	height:25px;
	bottom:0px;
	font-size:20px;
}
.inputH3 input::placeholder{
	color:black;
	opacity:0.2;
}
.inputH3 input{
	width:300px;
}

button:hover{
	cursor:pointer;
	background-color:#f3f3f3;
}

#root {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.navButton {
	position: absolute;
	bottom: 0px;
	margin:20px;
	margin-bottom:40px;
	width:80px;
	height:40px;
	border-radius: 10%;
	background-size: contain;
	background-color:transparent;
}

.pencil{
	width:20px;
	position:relative;
	float:right;
	bottom:5px;
	right:20px;
	visibility:hidden;
}

#navNext {
	position: absolute;
	right: 20px;
	background-image: url(nextBtn.png);
}

#navBack {
	position: absolute;
	left: 20px;
	visibility: hidden;
	background-image: url(backBtn.png);
}

.Steps {
  position: absolute;
  visibility: hidden;
  z-index: 0;
  padding: 10px;
  font-size:20px;

}


.stepsContainer {
  position: relative;
  width: auto;
  min-height:500px;
  height:800px;
  max-height:800px;
  font-family: var(--core-font);
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

#step1Topic {
	z-index: 1;
	visibility: visible;
}

#step1Topic textarea{
	margin-top:10px;
	font-size:17px;
}

.plusMinusButtons{
	border-radius: 10%;
	background-size: contain;
	height:25px;
	width:25px;
	
	margin-left:5px;
	background-color:transparent;
}

.plusButtons {
	position:relative;
	right:0px;
	background-image: url(addInputIcon.png);
	top:10px;
}
.plusButtonsDiv{
	position:relative;
	float:right;
}
.inputContainer{
	clear:both;
	margin-top:40px;
}

.removeBtn{
	background-image: url(removeInputIcon.png);
	position:relative;
	float:left;
	top:7px;
}

.copyButton {
	background-image: url(clipboard.png);
	border-radius: 10%;
	background-size: contain;
	width: 25px;
	height: 25px;
	position: relative;
	bottom: 8px;
	left: 5px;
}
.copyButton:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#overviewTables{
	position:relative;
	top:40px;
}

#combinedTable{
	position:absolute;
	top:40px;
}
.inputH3{
	position:relative;
	float:left;
}

.inputDiv{
	clear:both;
}

.NameInputH3{
	margin-top:20px;
	font-size:40px;
}

.NameInputH3 input{
	height:40px;
	bottom:5px;
	width:300px;
}

.DescriptionInputH3{
	margin-top:20px;
}

.DescriptionInput{
	width:400px;
}

.LinkContainer{
	margin-top:40px;

}

.LinkContainer h2{
	margin-top:10px;
}

.linkInput{
	width:500px;

}

#resultLink{
	margin-top:100px;
}

.SpanNumber{
	margin-left:10px;
}