/* public/style.css */

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;
  --nav-disabled: rgb(60, 179, 113);
  --nav-active: rgb(0, 255, 154);

  --primary-font: #ffffff;
  --secondary-font: #2a3747;
  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary-font);
}

h1 {
  font-size: 40px;
}

#creationContainer {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 1000px ;
	margin-left: auto ;
	margin-right: auto ;
}

.navigator {
	position: relative;
	top: 10px;
	left: 10px;
	width: 100%;
	height: 40px;
	background-color: var(--nav-disabled);
}

#navigatorTop {
	
}

#navThema {
	background-color: var(--nav-active);
}

.navElement {
	position: relative;
	width: 200px;

	padding: 10px;
	float: left;
}

#root {
  display: flex;
  flex-direction: column;
}

.navButton {
  position: absolute;
  top: 540px;
}
#navNext {
	position: absolute;
	right: 20px;
}

#navBack {
	position: absolute;
	left: 20px;
	visibility: hidden;
}

.Steps {
  position: absolute;
  visibility: hidden;
  z-index: 0;
  padding: 10px;
}

.stepsContainer {
  position: relative;
  top: 10px;
  left: 10px;
  width: 1000px;
  height: 600px;
  font-family: var(--core-font);
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

#step1Topic {
	z-index: 1;
	visibility: visible;
}

.plusMinusButtons {
	position: absolute;
	left: 300px;
}

.copyButton {
	background-image: url(clipboard.png);
	border-radius: 10%;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 5px;
	left: 5px;
}
.copyButton:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#overviewTables{
	position:relative;
	top:40px;
}

#combinedTable{
	position:absolute;
	top:40px;
}