.rateTd {
    text-align: center;
}

#teilnehmenTable {
    border-collapse: collapse;
    background-color:white;
}

.teilnhemmenScrollDiv {
    position: relative;
    top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    max-height: 440px;
    min-height: fit-content;
}

#teilnehmenTable th {
    border: 1px solid black;
}

#teilnehmenTable td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#teilnehmenTable td:first-child {
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 7px;
}
#firstTdFirstRowTeilnehmen {
    background-color: #e6e6e6!important
}


#teilnehmenTable tr {
}

#teilnehmenTable .alternativeTd {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #e6e6e6;
}
#teilnehmenTable .critTdTable {
    padding-right: 10px;
    background-color: #e6e6e6;
    
}

.critTdTable {
    text-align: right;
}

#resultSpan {
    position: relative;
    top: 0px;
}

#decisiveIndexSpan {
    position: relative;
    top: 0px;
}