.rateTd {
    text-align: center;
}

#teilnehmenTable {
    border-collapse: collapse;
    background-color:white;
}

.teilnhemmenScrollDiv {
    position: relative;
    top: 30px;
    padding-bottom: 10px;
    padding-right:30px;
}

#teilnehmenTable th {
    border: 1px solid black;
}

#teilnehmenTable td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#teilnehmenTable td:first-child {
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 7px;
}



#teilnehmenTable tr {

}

.alternativeTd {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.critTdTable {
    padding-right: 10px;
}

#resultSpan{
    position:relative;
    top:20px;
}

#decisiveIndexSpan {
    position: relative;
    top: 20px;
}