

.Steps {
    position: absolute;
    visibility: hidden;
    z-index: 0;
    font-size: 20px;
    width: 100%;
    height: auto;
    
}

.stepsContainer {
    position: relative;
    width: auto;
    /**min-height: 500px;
    height: 800px;
    max-height: 800px;*/
    height: 100%;
    max-height: 800px;
    background: white;
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
    background-color: #FEF9C7;
    overflow-y: auto;
    /*background-color: #F5F5F5;*/
}

.stepsContainerNoMaxHeight {
    position: relative;
    width: auto;
    height: fit-content;
    background: white;
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
    background-color: #FEF9C7;
}

#step1Topic {
    z-index: 1;
    visibility: visible;
}

#step1Name {
    z-index: 1;
    visibility: visible;
}

#step1Topic textarea {
    margin-top: 10px;
    font-size: 17px;
}


#overviewTables {
    position: relative;
    top: 5px;
    left: 0px;
    overflow: auto;
    /* width: 100%; */
    /* min-width: fit-content; */
    max-width: 100%;
    height: fit-content;
    min-height: fit-content;
    max-height: 440px;
    white-space: nowrap;
}

#combinedTable {
    position: relative;
    border-collapse: collapse;
}

#combinedTable td {
    border-right: 1px solid black;
}

#combinedTable td:first-child {
    border-left: 1px solid black;
    padding-left: 7px;
    padding-right: 5px;
}

#combinedTable tr:first-child td {
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 5px;
}

#combinedTable tr:first-child td:first-child {
    border:1px solid black;
}

#combinedTable tr:last-child td {
    border-bottom: 1px solid black;
}
#aggTable {
    border-collapse: collapse;
    white-space: nowrap;
}
 #aggTable td {
    border-right: 1px solid black;
}


    #aggTable td:first-child {
        border-left: 1px solid black;
        padding-left: 7px;
        padding-right: 5px;
    }

    #aggTable tr:first-child td {
        border: 1px solid black;
        padding-top: 5px;
        padding-left: 7px;
        padding-right: 5px;
    }

        #aggTable tr:first-child td:first-child {
            border: 1px solid black;
        }

    #aggTable tr:last-child td {
        border-bottom: 1px solid black;
    }

.inputAndBtnDiv {
    display: inline-block;
}

#resultLink {
    margin-top: 100px;
}

.SpanNumber {
    margin-left: 10px;
}

.logoImage{
    padding-bottom:5px;
}
.logoImage:hover {
    cursor:default;
}

.hint {
    position: relative;
    opacity: 0;
    width: 90%;
    min-width: 115px;
    height: auto;
    overflow: auto;
    background-color: rgba(226, 226, 226,0.7);
    padding: 10px;
    font-size: 17px;
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    color: black;
}
.hintOpacBg {
    /*background-color: rgba(226, 226, 226,0.7);*/

}

.hideHint:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

.hint span {
    position: relative;
    float: left;
}

.hint h4 {
    position: relative;
    float: left;
    clear: both;
    color: #Fa6D0F;
}

.HintFirstLine {
    display: flex;
}

#overviewHintSecondLine {
    display: flex;
}


.hideHint {
    position: absolute;
    top: 8px;
    right: 8px;
    background-size: 30px 30px;
    border-radius: 10%;
    background-size: initial;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

#summaryChart{
max-height:600px;
max-width:1302px;
}

#teilnehmerNameH2 {
    margin-top: 40px;
}

#beschreibungSpan {
    margin-top: 20px;
}

.fakeH3Span {
     font-size: 1.17em;
    -webkit-margin-before: 1__qem;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0;
     -webkit-margin-end: 0;
    font-weight: bold;
}