block navigator
	div#navName.navElement(onClick="clickToChangeView(0)") Name
		img(src="pencil.png").pencil
	div#navCriteriaOrder.navElement(onClick="clickToChangeView(1)") Kriterienreihenfolge
		img(src="pencil.png").pencil
	div#navRating.navElement(onClick="clickToChangeView(2)") Bewertung
		img(src="pencil.png").pencil
	div#navOverview.navElement(onClick="clickToChangeView(3)") Übersicht

