block layout-content 
div.innerPadding.w3-row.hundredHeight
    div.w3-col.l11.s11
        h1 Übersicht
        span Hier ist eine Zusammenfassung Ihrer Angaben,sowie Ihr persönlicher Sieger. 
        br
        span Sie können noch zurück gehen und Änderungen vornehmen
        br
        br
        span#resultSpan Ihr Sieger: 
            h4(style='display:inline')#result
        br
        span#decisiveIndexSpan Entscheidendes Kriterium: 
            h4(style='display:inline')#decisiveIndex 
        div#teilnehmenTableDiv
            div.overflowAuto.teilnhemmenScrollDiv
                table#teilnehmenTable
            br

            
