block layout-content 
div.innerPadding
    h1 Übersicht
    span Hier ist eine Zusammenfassung Ihrer Angaben,sowie Ihr persönlicher Sieger. 
    br
    span Sie können noch zurück gehen und Änderungen vornehmen
    div#teilnehmenTableDiv
        div.overflowAuto.teilnhemmenScrollDiv
            table#teilnehmenTable
        br
        span#resultSpan Ihr Sieger: 
            span#result
        br
        span#decisiveIndexSpan Entscheidendes Kriterium: 
            span#decisiveIndex 
            
