block layout-content 
	div.Message
		div.Title
			h1 Thema:	
				span#ThemaSpan
			h3#beschreibungSpan Beschreibung:
				span#BeschreibungSpan
			h2#teilnehmerNameH2 Name :
				input#TeilnehmerNameInput

			
