block layout-content 
	h1 Kriterien
	h3 Bitte legen sie ihre Kriterienreihenfolge fest
	div#critOrder
	div.hint#orderHint
		h4 Infotext
		span 
			span.HintFirstLine Hier können Sie die Kriterien nach Wichtigkeit per drag-and-drop anordnen
		button.hideHint(onClick="hideHintALT('orderHint');orderHintFlag = true") 
	
			
