block layout-content 
	h1 Bewerten
	div#ratingContainer
		span#currentAlternativeSpan
		table#alternativeRatingTable
		span#altCounter
			span#curAlt
			span#totalCount
	div.hint#rateHint
		h4 Infotext
		span 
			span.HintFirstLine Bitte bewerten sie alle Alternativen
		button.hideHint(onClick="hideHintALT('rateHint')") 
	
			
