block layout-content
    div.w3-row.hundredHeight
        div.w3-col.l10.s10
            div.innerPadding
                h1 Umfrage zum Thema: 
                    span#ThemaSpan
                h3#beschreibungSpan Beschreibung:
                    span#BeschreibungSpan
                h2#teilnehmerNameH2 Ihr Name:
                    input#TeilnehmerNameInput(autofocus)
                br
                br
                h4 Zur Auswahl stehenden Alternativen:
                table#WelcomeAltTable
        div.w3-col.l2.s2.hundredHeight
            div.hint#nameHint
                h4 Info
                span
                    span.HintFirstLine Bitte geben Sie Ihren Namen ein.
                img.hideHint(onClick="hideHintALT('nameHint')" src='icons/kreuz.svg')
    span#eidi(style="visibility:hidden") #{uuid}
