block layout-content 
    div.w3-row.hundredHeight
        div.w3-col.l10.s10
            div.innerPadding
                h1 Kriterien
                span(style='display:block')#CritH3changeable Bitte legen Sie Ihre persönliche Kriterienreihefolge anhand Ihrer Prioritäten fest.
                div#critOrder
        div.w3-col.l2.s2.hundredHeight
                div.hint#orderHint
                    h4 Info
                    span 
                        span.HintFirstLine Hier können Sie die Kriterien per Drag-and-drop anordnen.
                    img.hideHint(onClick="hideHintALT('orderHint');orderHintFlag = true" src='icons/kreuz.svg') 
    
            
