block layout-content 
	h1 Bewerten
	div#ratingContainer
		h3#currentAlternativeSpan
		table#alternativeRatingTable
		span#altCounter
			span#curAlt
			span#totalCount
	div.hint#rateHint
		h4 Infotext
		span 
			span.HintFirstLine Bitte bewerten sie alle Alternativen
		img.hideHint(onClick="hideHintALT('rateHint')" src='icons/kreuz.svg') 
	
			
