block layout-content 
div.innerPadding
    h1 Übersicht
    div#teilnehmenTableDiv
        table#teilnehmenTable
        br
        span#resultSpan Ihr Ergebnis: 
            span#result
        br
        span#decisiveIndexSpan Entscheidendes Kriterium: 
            span#decisiveIndex 
            
