block layout-content 
div.innerPadding
    h1 Übersicht
    span Hier ist eine Zusammenfassung Ihrer Angaben,sowie Ihr persönlicher Sieger. 
    br
    span Sie können noch zurück gehen und Änderungen vornehmen
    br
    br
    span#resultSpan Ihr Sieger: 
        h4(style='display:inline')#result
    br
    span#decisiveIndexSpan Entscheidendes Kriterium: 
        h4(style='display:inline')#decisiveIndex 
    div#teilnehmenTableDiv
        div.overflowAuto.teilnhemmenScrollDiv
            table#teilnehmenTable
        br

            
