block layout-content 
div.innerPadding.w3-row.hundredHeight
    div.w3-col.l11.s11
        h1 Übersicht
        span Hier sehen Sie Ihren Sieger und eine Zusammenfassung Ihrer Bewertungen. 
        br
        span Sie können zurück navigieren und Änderungen vornehmen.
        br
        br
        span#resultSpan Ihr Sieger: 
            h4(style='display:inline')#result
        br
        span#decisiveIndexSpan Entscheidendes Kriterium: 
            h4(style='display:inline')#decisiveIndex 
        div#teilnehmenTableDiv
            div.overflowAuto.teilnhemmenScrollDiv
                table#teilnehmenTable
            br

            
