extends ../layout

block layout-content
    div#container
        div.stepsContainer
            canvas#summaryChart
            div(style="padding:5px")
                h4 Bisherige Teilnehmende
                table#participantsTable
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js" type="text/javascript")
    script(src="../scripts/auswerten/summary.js" type="module")
    script(src="../scripts/auswerten/summaryData.js")
    script(src="../scripts/teilnehmen/loadPoll.js")
    script(src="../scripts/poll.js")
    

    span#dada(style="visibility:hidden") #{uuid}
