extends ../layout

block layout-content
    div#auswertenContainer
        img(src='../icons/Logo.svg').logoImage
        div.navigator#navigatorTop.navAuswerten
            div
                h3#auswertenTitle.fivePadding
        div.stepsContainerNoMaxHeight.auswertenScroll
            canvas#summaryChart
            span.fivePadding#mehrere Mehrere Sieger pro Person möglich
            div
                div.fivePadding(style='float:left')
                    h4#bisherige Bisherige Teilnehmende
                    table#participantsTable
                div.fivePadding#aggMatrixContainer(style='float:left')
                    h4 Aggregrationsmatrix
                    table#aggTable
    span#dada(style="visibility:hidden;z-index: -2;") #{uuid}
    span#xaxa(style="visibility:hidden;z-index: -2;") #{aggMatrixJSON}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js" type="text/javascript")
    script(src="../scripts/auswerten/summary.js" type="module")
    script(src="../scripts/auswerten/summaryData.js")
    script(src="../scripts/poll.js")
    script(src="../scripts/criteria.js")
    script(src="../scripts/main.js")
    
    

    
